<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaskThree.Properties.Settings.AdventureWorks2017ConnectionString"
            connectionString="Data Source=DESKTOP-NAKA70O;Initial Catalog=AdventureWorks2017;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="TaskThree.Properties.Settings.AdventureWorks2017ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=AdventureWorks2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>